/ index
.container
  #ad_container
    - if production?
      / google adsense
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- responsible, 20140204, simblr.i4da.com -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4027729811091453" data-ad-slot="5304618735" data-ad-format="auto"></ins>
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
    - else
      .ad_dummy ad.
.container#form_large
  .row
    .text-center.offset3.span6
      %form.form-horizontal(method="GET")
        .control-group
          %input.input-xlarge.input-block-level(name="q" type="text" placeholder="username.tumblr.com")
        .control-group.text-center
          %button.btn.btn-large.btn-primary(type="submit") Get Recommendation
      .text-center
        %small.muted
          %p
            %a.muted(href="https://www.tumblr.com/register" target="_blank") Don't have your Tumblr blog?