/ result
#form_header
  .container
    .row
      .text-center
        %form.form-inline#form(method="GET")
          %input#form_input.input-large(name="q" type="text" value="#{@q}" placeholder="username.tumblr.com" disabled)
          %button#form_btn.btn.btn-primary(type="submit" data-loading-text="Loading..." disabled)<
            %i.icon-search.icon-white
.container
  #ad_container
    - if production?
      / google adsense
      <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
      <!-- responsible, 20140204, simblr.i4da.com -->
      <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-4027729811091453" data-ad-slot="5304618735" data-ad-format="auto"></ins>
      :javascript
        (adsbygoogle = window.adsbygoogle || []).push({});
    - else
      .ad_dummy ad.
.container#result_loading(style="display: none")
  .row
    %noscript
      .span6.offset3
        .alert.alert-error
          <strong>Error :</strong> Please enable JavaScript.
    .span4.offset4
      .progress.progress-striped.active
        .bar(style="width: 0%;")
.container#result_error(style="display: none")
  .row
    .span6.offset3
      .alert.alert-error
        <strong>Error :</strong> Please try again later.
.container_wrapper#result(style="display: none")