/ result
#form_header
  .container
    .row
      .text-center
        %form.form-inline#form(method="GET")
          %input#form_input.input-large(name="q" type="text" value="#{@q}" placeholder="username.tumblr.com" disabled)
          %button#form_btn.btn.btn-primary(type="submit" data-loading-text="Loading..." disabled)<
            %i.icon-search.icon-white
.container
  .ad_728_90_container(style="width: 728px; height: 90px; margin: 20px auto 20px auto;")
    - if production?
      / google analytics
      :javascript
        google_ad_client = "ca-pub-4027729811091453";
        /* 728x90, 20130526, simblr.i4da.com */
        google_ad_slot = "4250694731";
        google_ad_width = 728;
        google_ad_height = 90;
      <script type="text/javascript"
      src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
      </script>
    - else
      .ad_728_90.muted(style="width: 728px; height: 90px; background: #eee;") ad.
.container#result_loading(style="display: none")
  .row
    %noscript
      .span6.offset3
        .alert.alert-error
          <strong>Error :</strong> Please enable JavaScript.
    .span4.offset4
      .progress.progress-striped.active
        .bar(style="width: 0%;")
.container#result_error(style="display: none")
  .row
    .span6.offset3
      .alert.alert-error
        <strong>Error :</strong> Please try again later.
.container_wrapper#result(style="display: none")