html,
body {
  height: 100%; /* The html and body elements cannot have any padding or margin. */
}

/* Responsive
-------------------------------------------------- */

/* Desktop or default */
#body {
  padding-top: 41px;
}

#form_large {
  padding-top: 100px;
}

#ad_container {
  text-align: center;
  margin: 20px auto;
}

.ad_dummy {
  background: #eee;
  width: 728px;
  height: 90px;
  color: #999;
  margin: auto;
}

#result_loading, #result_error {
  padding-top: 130px;
}

#sidebar.affix {
  top: 40px;
}

#sidebar {
  width: 300px;
}

/* Desktop large */
@media (min-width: 1200px) {
  #sidebar {
    width: 370px;
  }
}

/* Tablet to desktop */
@media (max-width: 979px) {
  #body {
    margin-top: -20px;
    padding-top: 0px;
  }

  #sidebar {
    width: 228px;
  }

  #sidebar.affix {
    top: 0px;
  }
}

/* Tablet */
@media (max-width: 767px) {
  #body {
    margin-right: -20px;
    margin-left: -20px;
  }

  #sidebar {
    width: 100%;
  }

  #sidebar,
  #sidebar.affix,
  #sidebar.affix-top {
    position: static;
  }

  #form_header,
  #form_large {
    padding-left: 10px;
    padding-right: 10px;
  }

  #form_large {
    padding-top: 20px;
  }

  #form_input {
    width: 210px;
  }

  .ad_dummy {
    width: 468px;
    height: 60px;
  }

  #result_loading,
  #result_error {
    padding: 50px 10px 0px;
  }
}

/* Landscape phones */
@media (max-width: 480px) {
  #body {
    margin-top: -20px;
    padding-top: 0px;
  }

  #form_large {
    padding-top: 10px;
  }

  #ad_container {
    margin: 0px auto 20px;
  }

  .ad_dummy {
    width: 320px;
    height: 50px;
  }
}

/* Sticky footer
-------------------------------------------------- */

/* Wrapper for page content to push down footer */
#header_body_wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; /* Negative indent footer by it's height */
}

#footer_pusher,
#footer {
  height: 40px; /* Set the fixed height of the footer here */
}
#footer .container {
  padding-top: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

/* SNS buttons
-------------------------------------------------- */

#sns_buttons {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: right;
}

#sns_buttons .facebook_like {
  margin-right: -15px;
}

#sns_buttons .tweet {
  margin-right: -22px;
}

#sns_buttons .google_plusone {
  margin-right: -22px;
}

#sns_buttons .hatena_bookmark {
  margin-right: 10px;
}

#sns_buttons .github_star {
  margin-right: -15px;
}

/* Sidebar
-------------------------------------------------- */

#sidebar th {
  color: #444;
  font-size: 0.9em;
}

#sidebar th.sim {
  width: 40px;
}

#sidebar th.reblog,
#sidebar td.reblog {
  width: 40px;
  text-align: center;
}

#sidebar th.action {
  width: 28px;
}

#sidebar td.blog {
  overflow: hidden;
  white-space: nowrap;
}

#footer_sub {
  margin-bottom: 40px;
}

#footer_sub a {
  color: #888;
}

/* Posts
-------------------------------------------------- */

#posts {
  word-break: break-all;
}

#posts_footer {
  text-align: center;
  padding: 0 5px;
}

.img-rounded {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#form_header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #666;
  border-color: #e5e5e5;
  padding-top: 20px;
}

#form_header #form_btn {
  width: 70px;
}

.post {
  border-bottom: 1px solid #e3e3e3;
  min-height: 20px;
  padding: 19px 5px 30px;
  margin-bottom: 20px;
}

.post a {
  color: #888;
}

.post_header {
  color: #666;
  margin-bottom: 20px;
}

.post_header img {
   vertical-align: -2px;
}

.post_footer {
   margin-top: 10px;
}

.post_score {
  font-size: 2em;
}

.avatar {
  width: 24px;
  height: 24px;
}

#sidebar .avatar {
  margin-right: 5px;
}

#posts .avatar {
  margin-left: 5px;
}

.post_controls .open_btn i {
  margin-right: 10px;
  margin-top: 2px;
}

.post_controls a:hover {
  text-decoration: none;
}

.post .quote_source_table {
  margin-top: 10px;
}

.post .quote_source_mdash {
  width: 1px;
  padding: 0 10px 0 20px;
}

.post.photo div.post_body img {
  margin-bottom: 10px;
  margin-right: 10px;
}

.post.photo .photoset .photoset_row {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.post_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px
}

.post.chat li.chat_line {
  padding: 9px 14px;
}

.post.chat li.chat_line:nth-child(odd) {
  background: #f5f5f5
}

.post.chat li.chat_line .chat_label {
  font-weight: bold;
  margin-right: 10px;
}

.post.audio embed {
  border: 1px solid #888;
}

.post.link .link_title {
  margin-bottom: 10px;
}

.post blockquote p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
