html,
body {
  height: 100%; /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -40px; /* Negative indent footer by it's height */
}

#push,
#footer {
  height: 40px; /* Set the fixed height of the footer here */
}
#footer .container {
  padding-top: 10px;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

#body {
  padding-top: 41px;
}

#footer_sub a {
  color: #888;
}

.container_wrapper {
  padding-left: 10px;
  padding-right: 10px;
}

.sns_buttons {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow: hidden;
  white-space: nowrap;
  max-height: 20px;
  width: 500px;
  text-align: right;
  float: right;
}

.sns_buttons .facebook_like {
  margin-right: -15px;
}

.sns_buttons .tweet {
  margin-right: -22px;
}

.sns_buttons .google_plusone {
  margin-right: -22px;
}

.sns_buttons .hatena_bookmark {
  margin-right: 10px;
}

.sns_buttons .github_star {
  margin-right: -15px;
}

#sidebar {
  width: 300px;
}

#sidebar.affix {
  top: 40px;
}

.img-rounded {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#form_large {
  padding-top: 100px;
}

#form_header {
  background-color: #f1f1f1;
  border-bottom: 1px solid #666;
  border-color: #e5e5e5;
  padding-top: 20px;
}

#form_header #form_btn {
  width: 70px;
}

#result_loading, #result_error {
  padding-top: 130px;
}

.table th {
  color: #444;
  font-size: 0.9em;
}

#sidebar th.reblog, #sidebar td.reblog {
  width: 40px;
  text-align: center;
}

#sidebar td.blog {
  overflow: hidden;
  white-space: nowrap;
  width: 150px;
  max-width: 150px;
}

.post {
  border-bottom: 1px solid #e3e3e3;
  min-height: 20px;
  padding: 19px 19px 30px 5px;
  margin-bottom: 20px;
}

.post a {
  color: #888;
}

.post_header {
  color: #666;
  margin-bottom: 20px;
}

.post_header img {
   vertical-align: -2px;
}

.post_footer {
   margin-top: 10px;
}

.post_score {
  font-size: 2em;
}

.avatar {
  width: 24px;
  height: 24px;
}

#sidebar .avatar {
  margin-right: 5px;
}

.posts .avatar {
  margin-left: 5px;
}

.post_controls .open_btn i {
  margin-right: 10px;
  margin-top: 2px;
}

.post_controls a:hover {
  text-decoration: none;
}

.post .quote_source_table {
  margin-top: 10px;
}

.post .quote_source_mdash {
  width: 1px;
  padding: 0 10px 0 20px;
}

.post.photo div.post_body img {
  margin-bottom: 10px;
  margin-right: 10px;
}

.post.photo .photoset .photoset_row {
  white-space: nowrap;
  overflow: hidden;
  margin-bottom: 10px;
}

.post_title {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px
}

.post.chat li.chat_line {
  padding: 9px 14px;
}

.post.chat li.chat_line:nth-child(odd) {
  background: #f5f5f5
}

.post.chat li.chat_line .chat_label {
  font-weight: bold;
  margin-right: 10px;
}

.post.audio embed {
  border: 1px solid #888;
}

.post.link .link_title {
  margin-bottom: 10px;
}

.post blockquote p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}
